  .skills-page {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
    height: auto;
    margin-top: 50px;
    border-radius: 20px;
  }

  .skills-heading {
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 60px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .skills p {
    text-align: left;
    margin: 10px 0;
    font-size: larger;
    color: #4B0082;
  }


  .bar-bg {
    width: 900px;
    height: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .bar-fill {
    height: 100%;
    width: 0;
    background: rgba(241, 105, 180, 0.95);
    transition: width 1.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    background: rgba(241, 105, 180, 0.95);
    animation: fill 2s forwards;
    border-radius: 10px;
  }

  .bar-text {
    z-index: 2;
  }

  @media only screen and (min-width: 600px) and (max-width: 1200px) {
    .skills-heading {
      font-size: 50px;
    }

    .bar-bg {
      width: 400px;
      height: 20px;
    }

    .bar-fill {
      font-size: 17px;
    }
  }

  @media only screen and (max-width: 599px) {
    .skills-heading {
      font-size: 40px;
    }

    .bar-bg {
      width: 250px;
      height: 20px;
    }

    .bar-fill {
      font-size: 16px;
    }
  }

  @keyframes fill {
    from {
      width: 0;
    }
  }