.landing-page {
    color: white;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    height: auto;
    margin-top: 25px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.heading {
    display: block;
    margin-top: 100px;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: #867e7e;
}

.name {
    color: #734F96;
}

.para {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #867e7e;
}

.image-1 {
    width: 250px;
    height: 300px;

}

.btn-resume {
    width: 200px;
    height: 50px;
    font-size: large;
    border: 100px;
    background-color: white;
    border-radius: 50px;
}

.btn-align {
    display: flex;
    justify-content: center;
}

.btn-resume:hover {
    color: white;
    background: linear-gradient(to right, #734f96, #a4a4fc);
}

.img-align {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

@media only screen and (min-width:600px) and (max-width:1200px) {

    .left-align {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .image-section {
        display: none;
    }

    .heading {
        font-size: 65px;
        margin-left: 0px;
        margin-top: 50px;
    }

    .para {
        font-size: 22px;
        margin-top: 10px;
    }
}

@media only screen and (max-width:599px) {
    .left-align {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .image-section {
        display: none;
    }

    .heading {
        font-size: 45px;
        margin-left: 0px;
        margin-top: 50px;
    }

    .para {
        margin-top: 10px;
        font-size: 16px;
    }

}